<% layout('../layout') -%>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col">
      <%# main content %>
      <div class="card">
        <div class="card-header">
          <p class="card-title text-uppercase text-secondary font-weight-bolder">main</p>
        </div>
        <div class="card-body">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ユーザー権限
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form action="/demo/shift/setting" method="post">
                    <div class="text-center">
                      <input type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" value="UPDATE">
                    </div>
                    <hr>
                    <div class="list-group list-group-flush card-body px-0 pt-0 pb-2 h-400 scroll-y">
                      <div class="container-fluid py-0">
                        <div class="row">
                          <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 " >
                            <p class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Author</p>
                          </div>
                          <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-middle text-center">
                            <p class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Function</p>
                          </div>
                          <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-middle text-center">
                            <p class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">icon</p>
                          </div>
                          <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-middle text-center">
                            <p class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">reset</p>
                          </div>
                        </div>
                      </div>
                      <% let tokenUrl = {} %>
                      <% for (let user_i in userlist) { %>
                      <% tokenUrl[String(userlist[user_i].id)] = ""; %>
                      <div class="accordion-item">
                        <span class="accordion-header list-group-item" id="flush-heading<%= user_i %>">
                          <div class="container-fluid py-1">
                            <div class="row">
                              <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 collapsed align-middle text-center" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= user_i %>" aria-expanded="false" aria-controls="flush-collapse<%= user_i %>">
                                <div class="d-flex px-1 py-1">
                                  <div>
                                    <%- include('../components/user_icon',{
                                          url: userlist[user_i].url,
                                          width: 34, height: 34
                                        })%>
                                  </div>
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm"><%= userlist[user_i].name %></h6>
                                    <!-- <p class="text-xs text-secondary mb-0">john@creative-tim.com</p> -->
                                  </div>
                                </div>
                              </div>
                              <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-middle text-center" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= user_i %>" aria-expanded="false" aria-controls="flush-collapse<%= user_i %>">
                                <select class="form-select" aria-label="Default select example" name="func-<%= userlist[user_i].id %>-<%= userlist[user_i].active %>">
                                  <% if ( userlist[user_i].active == 0) {%>
                                  <option selected value="0">Inactive</option>
                                  <% }else{ %>
                                  <option value="0">Inactive</option>
                                  <% } %>
                                  <% if ( userlist[user_i].active == 1) {%>
                                  <option selected value="1">Active</option>
                                  <% }else{ %>
                                  <option value="1">Active</option>
                                  <% } %>
                                  <% if ( userlist[user_i].active == 2) {%>
                                  <option selected value="2">OB</option>
                                  <% }else{ %>
                                  <option value="2">OB</option>
                                  <% } %>

                                  <% if ( userlist[user_i].active == 3) {%>
                                  <option selected value="3">Manager</option>
                                  <% }else{ %>
                                  <option value="3">Manager</option>
                                  <% } %>


                                </select>
                              </div>
                              <div class="col-8 col-sm-8 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-middle text-center">
                                <span class="text-secondary text-ms v-center">
                                  <input class="v-center" type="url" name="url#<%= userlist[user_i].id %>#<%= userlist[user_i].url %>" id="" value="<%= userlist[user_i].url %>">
                                </span>
                              </div>
                              <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-middle text-center">
                                <span class="text-secondary text-ms ">
                                  <button type="button" 
                                  onclick="<% tokenUrl[String(userlist[user_i].id)] = func.getToken(userlist[user_i].id) %>" 
                                  class="btn bg-gradient-info" data-bs-toggle="modal" data-bs-target="#gettoken-<%= userlist[user_i].id %>">
                                  <i class="bi bi-key-fill"></i>
                                  </button>
                                </span>
                                <!-- Modal -->
                                <div class="modal fade" id="gettoken-<%= userlist[user_i].id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="gettokenLabel-<%= userlist[user_i].id %>" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="gettokenLabel-<%= userlist[user_i].id %>">パスワード再設定用URL</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <a href="<%= tokenUrl[String(userlist[user_i].id)] %>"><%= tokenUrl[String(userlist[user_i].id)] %></a>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a type="button" class="btn btn-primary" href="<%= tokenUrl[String(userlist[user_i].id)] %>">go URL</a>
                                        <input type="hidden" id="tokenUrl-url-<%= userlist[user_i].id %>" value="<%= tokenUrl[String(userlist[user_i].id)] %>">
                                        <button type="button" class="btn btn-secondary" onclick="copyTokenURL(<%= userlist[user_i].id %>)">copy</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </span>
                      </div>
                      <% } %>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ユーザー追加
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <% for (let user of addlist) { %>
                  <p class=""><%= user.name %>
                    <a class="btn btn-outline-info" href="/demo/shift/setting/deleteuser/<%= user.name %>">
                      <span class="text-center">削除</span>
                    </a>
                  </p>
                  <% } %>
                  <form action="/demo/shift/setting/adduser" method="post">
                    <label>
                      User Name
                    </label>
                    <div class="mb-3">
                      <input type="text" class="form-control" aria-label="NewIconUrl" aria-describedby="url-addon" name="adduser" placeholder="new username " required />
                    </div>
                    <div class="text-center">
                      <input type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" value="Add User">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed border" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  sort list
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <h6>上から順にソート</h6>
                  <form action="/demo/shift/setting/sort" method="post">
                    <div class="container-fluid">
                      <div class="row">
                        <textarea id="textarea-sort" name="sort" id="" cols="30" rows="10" class="col-8"><%- func.listToText(sortlist) %></textarea>
                        <input type="submit" class="col-3 btn bg-gradient-info m-2 text-center" value="UPDATE SORT">
                      </div>
                      <!-- <div class="table-responsive">
                        <table class="table table-hover sorttbl" id="shifttable">
                          <caption>sorted by update date</caption>
                          <thead>
                            <tr>
                              <th scope="col" >#</th>
                              <th scope="col" >name</th>
                            </tr>
                          </thead>
                          <tbody>
                          </tbody>
                        </table>
                      </div> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% var footer_scripts = (function () {/*
<script type="text/javascript" src="/demo/shift/javascripts/setting.js"></script>
*/}).toString().match(/[^]*\/\*([^]*)\*\/\}$/)[1]; %>
<% block("footer_scripts", footer_scripts) -%>
